/*FOOTERRRRRRRRRRRRRRRRRRRRR*/

footer{
    max-width: 100%; min-height: 18vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #F4F4F4;
}

footer .logofooter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer .logofooter img{
    width: 50%; height: 50%;
    object-fit: contain;
    margin-left: 70px;
}

footer .iconosrrss{
    display: flex;
    width: 20%; height: 30%;
    justify-content: center;
    align-items: center;
}

footer .iconosrrss img{
    display: flex;
    width: 80%; height: 80%;
    object-fit: contain;
}
