
.titulopf{
    width: 100%; height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #F4F4F4;
    margin-bottom: 40px;

    h1{
@extend .tituloH1;
    }

}



.pregyresp{
    width: 100%; height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    background-color: #F4F4F4;
    flex-wrap: wrap;


div{
    width: 40%; height: 30vh;
    margin-bottom: 65px;
}

h4 {
    font-family: 'Space Grotesk', sans-serif;
    color: #2D2741;
    font-size: $fontLarge;
    font-weight: bold;
    width: 450px; height: 40px;
    text-align: left;
    margin-bottom: 15px;
}

p{
    font-family: 'Space Grotesk', sans-serif;
    color: #2D2741;
    font-size: $fontBase;
    width: 400px; height: 30px;
    text-align: left;

}

}

.consultaspf{
    width: 100%; height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content:center;
    background-color: #2D2741;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 150px;


h4 {
    font-family: 'Space Grotesk', sans-serif;
    color: #F4F4F4;
    font-size: 18px;
    font-weight: bold;
    width: 60%; height: 30px;
    text-align: center;

        span{
            color: #E635E4;
            text-decoration: underline;
        }
} 
}