


@media screen and (max-width:600px){

    nav{
        max-width: 100%; min-height: 10vh;
        flex-direction: row;
        justify-content: left;
        align-items: left;
    }

    nav .logo{
        width: 30%; height: 100%;
    }
    
    nav ul{
        list-style: none;
        display: none;
    }


    .presentacion{
        width: 100%; height: 50vh;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center
    }

    .presentacion h1{
        width: 100%;
        margin-top: 180px;
    }
    .presentacion p{
        width: 100%;
        margin-top: 20px;
    }

    .presentacion img{
margin-top: 40px;
    }

    .servicios{
        max-width: 100%; min-height: 40vh;
            background-color: #2D2741;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

    .boton01{
        margin-top: 60px;
    }

    .trabajos{
        max-width: 100%; min-height: 40vh;
    }

    .trabajos div{
        display: flex;
        flex-direction: column;
    }
    
    
    .trabajos h1{
        width: 100%;
    margin-top: 70px;
    text-align: center;
    align-items: center;
    }
    
    .trabajos img{
        align-items: center;
        margin-top: 40px;
    }
    
    .boton02{
        margin-top: 40px;
        margin-bottom: 40px;
    }


    .imgportfolio{
        padding-top: 3rem;
        width: 100%; height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contacto{
        max-width: 100%; min-height: 40vh;
        background-color: #2D2741;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    footer{
        max-width: 100%; min-height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #F4F4F4;
    }


    footer .iconosrrss img{
        display: flex;
        width: 100%; height: 100%;
        margin-top: 30px;
    }


}

/*las variables siempre van arriba de todo*/
@import './componentes/variables';
@import './componentes/general';
@import './componentes/paginaportfolio';
@import './componentes/paginacontacto';
@import './componentes/paginapf';
@import './componentes/paginaservicios';
@import './componentes/paginainicio';